
.profile-window {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 60vw;
    height: 30vh;
    position: fixed;
  }
  
  .profile-info {
    display: flex;
    margin: 10px;
  }
  
  .profile-name {
    margin: 10px 0px 0px 25px;
    font-size: 24px;
  }
  
  img.profile-picture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  .log-out-button {
    width: 100px;
    height: 36px;
    margin: 20px 0px 0px 15px;
  }