.chat-window {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-end;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 60vw;
  height: 80vh;
  position: fixed;
}

.messages {
  display: flex;
  flex-direction: column;
  min-height: min-content;
  overflow-y: auto;
}

.message-text-area {
  flex: 0 1 auto;
  display: flex;
  width: 100%;
  height: 70px;
  border-top: solid;
  border-top-color: var(--button-unchosen);
  border-top-width: 2px;
}

.text-area {
  flex: 1 0 auto;
  padding: 12px;
  margin: 15px 5px 15px 15px;
}

.send-button {
  margin: 15px 15px 15px 5px;
}

.message {
  display: grid;
  grid-template-columns: 50px;
  grid-template-rows: 25px;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 10px;
  height: auto;
}

.message-profile-picture {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  grid-area: 1 / 1 / 2 / 2;
}

.message-author {
  grid-area: 1 / 2 / 1 / 2;
  margin: 0;
  width: 400px;
  height: 25px;
}

.message-text {
  grid-area: 2 / 2 / 2 / 2;
  margin: 0;
  font-weight: 400;
  height: 25px;
}
